h1.ribbon { 
font-size: 25px !important; 
position: relative; 
background: #ba89b6; 
color: #fff; 
text-align: center; 
padding: 1em 2em;
margin: 0 0 3em;
} 
h1.ribbon:before, h1.ribbon:after { 
content: ""; 
position: absolute; 
display: block; 
bottom: -1em; 
border: 1.5em solid #986794; 
z-index: -1; 

} 
h1.ribbon:before { 

left: -2em; 
border-right-width: 1.5em; 
border-left-color: transparent; 
} 
h1.ribbon:after { 
right: -2em; 
border-left-width: 1.5em; 
border-right-color: transparent; 
} 
h1.ribbon .ribbon-content:before, h1.ribbon .ribbon-content:after { 
content: ""; 
position: absolute; 
display: block; 
border-style: solid; 
border-color: #804f7c transparent transparent transparent; 
bottom: -1em; 
} 
h1.ribbon .ribbon-content:before { 
left: 0; 
border-width: 1em 0 0 1em; 
} 
h1.ribbon .ribbon-content:after { 
right: 0; 
border-width: 1em 1em 0 0; 
}